In [1]:
# import packages and utilities
import pandas as pd

In [2]:
# load data and preprocess
conference_2005 = pd.read_csv('./input/2005/conference.csv')
drive_2005 = pd.read_csv('./input/2005/drive.csv')
game_statistics_2005 = pd.read_csv('./input/2005/game-statistics.csv')
game_2005 = pd.read_csv('./input/2005/game.csv')
kickoff_return_2005 = pd.read_csv('./input/2005/kickoff-return.csv')
kickoff_2005 = pd.read_csv('./input/2005/kickoff.csv')
pass_2005 = pd.read_csv('./input/2005/pass.csv')
play_2005 = pd.read_csv('./input/2005/play.csv')
player_game_statistics_2005 = pd.read_csv('./input/2005/player-game-statistics.csv')
player_2005 = pd.read_csv('./input/2005/player.csv')
punt_return_2005 = pd.read_csv('./input/2005/punt-return.csv')
punt_2005 = pd.read_csv('./input/2005/punt.csv')
reception_2005 = pd.read_csv('./input/2005/reception.csv')
rush_2005 = pd.read_csv('./input/2005/rush.csv')
stadium_2005 = pd.read_csv('./input/2005/stadium.csv')
team_game_statistics_2005 = pd.read_csv('./input/2005/team-game-statistics.csv')
team_2005 = pd.read_csv('./input/2005/team.csv')

In [7]:
game_2005

,Game Code,Date,Visit Team Code,Home Team Code,Stadium Code,Site
0,86016420050901,09/01/2005,86,164,25,TEAM
1,128064820050901,09/01/2005,128,648,113,TEAM
2,204014020050901,09/01/2005,204,140,97,TEAM
3,295075420050901,09/01/2005,295,754,138,TEAM
4,428071920050901,09/01/2005,428,719,105,TEAM
5,508049820050901,09/01/2005,508,498,57,TEAM
6,529028820050901,09/01/2005,529,288,126,TEAM
7,690002820050901,09/01/2005,690,28,10,TEAM
8,736074920050901,09/01/2005,736,749,83,TEAM
9,771070920050901,09/01/2005,771,709,102,TEAM
10,786038820050901,09/01/2005,786,388,142,TEAM
11,29073220050902,09/02/2005,29,732,135,TEAM
12,306012920050902,09/02/2005,306,129,70,TEAM
13,9069420050903,09/03/2005,9,694,114,TEAM
14,47031220050903,09/03/2005,47,312,41,TEAM
15,51066320050903,09/03/2005,51,663,122,TEAM
16,66025720050903,09/03/2005,66,257,36,TEAM
17,67007720050903,09/03/2005,67,77,134,TEAM
18,71079620050903,09/03/2005,71,796,141,TEAM
19,90071620050903,09/03/2005,90,716,4,TEAM
20,102010720050903,09/03/2005,102,107,12,TEAM
21,110062620050903,09/03/2005,110,626,16,TEAM
22,156015720050903,09/03/2005,156,157,20,TEAM
23,193019620050903,09/03/2005,193,196,81,TEAM
24,207063020050903,09/03/2005,207,630,18,TEAM
25,229032820050903,09/03/2005,229,328,51,TEAM
26,231032720050903,09/03/2005,231,327,52,TEAM
27,255003720050903,09/03/2005,255,37,1,TEAM
28,299031120050903,09/03/2005,299,311,40,TEAM
29,331041620050903,09/03/2005,331,416,68,TEAM
...,...,...,...,...,...,...
688,742023420051203,12/03/2005,742,234,28,NEUTRAL
689,768065120051203,12/03/2005,768,651,35,TEAM
690,664003020051220,12/20/2005,664,30,56,NEUTRAL
691,709070420051221,12/21/2005,709,704,3,NEUTRAL
692,77010720051222,12/22/2005,77,107,89,NEUTRAL
693,156072620051222,12/22/2005,156,726,16,NEUTRAL
694,328028820051223,12/23/2005,328,288,125,NEUTRAL
695,466012820051224,12/24/2005,466,128,39,NEUTRAL
696,404000520051226,12/26/2005,404,5,67,NEUTRAL
697,28058720051227,12/27/2005,28,587,9,NEUTRAL
698,147015720051227,12/27/2005,147,157,32,NEUTRAL
699,66006720051228,12/28/2005,66,67,42,NEUTRAL
700,418046320051228,12/28/2005,418,463,130,NEUTRAL
701,255073220051229,12/29/2005,255,732,17,NEUTRAL
702,529052220051229,12/29/2005,529,522,16,NEUTRAL
703,415036520051230,12/30/2005,415,365,38,NEUTRAL
704,428074620051230,12/30/2005,428,746,118,NEUTRAL
705,509011020051230,12/30/2005,509,110,124,NEUTRAL
706,648043420051230,12/30/2005,648,434,60,NEUTRAL
707,96071920051231,12/31/2005,96,719,115,NEUTRAL
708,651049020051231,12/31/2005,651,490,79,NEUTRAL
709,698031120051231,12/31/2005,698,311,128,NEUTRAL
710,312023520060102,01/02/2006,312,235,35,NEUTRAL
711,367074220060102,01/02/2006,367,742,28,NEUTRAL
712,518051320060102,01/02/2006,518,513,10,NEUTRAL
713,700000820060102,01/02/2006,700,8,121,NEUTRAL
714,768025720060102,01/02/2006,768,257,38,NEUTRAL
715,796003720060102,01/02/2006,796,37,32,NEUTRAL
716,539023420060103,01/03/2006,539,234,30,NEUTRAL
717,703065720060104,01/04/2006,703,657,15,NEUTRAL

In [ ]:
# utility functions to load and transform the data
def concat_mult_ref_tables(filename, yrs):
    """Return a dataframe that concatenates all 
    files across a list of years, with the year set as a key
    """
    # create a list to store the dfs
    df_list = []
    
    for yr in yrs: 
        temp_df = None   #clear out the df
        temp_df = pd.read_csv('./input/' + str(yr) + '/conference.csv')  #read in the file
        df_list.append(temp_df)
        
    final_df = pd.concat(df_list, keys=yrs)
    
    return final_df

In [11]:
team_2005[team_2005['Name'] == 'Florida']

    Team Code     Name  Conference Code
31        235  Florida              911

In [12]:
team_2005[team_2005['Team Code'] == 234]

    Team Code           Name  Conference Code
30        234  Florida State              821

In [ ]:
# create some new useful datasets
tmp_col_list = ['Team Code', 'Game Code', 'Points']
team_points = team_game_statistics_2005[tmp_col_list]

# produce a new dataset called game_results that tells us who won each game
game_results_2005 = game_2005
game_results_2005['Visit Points'] = None
game_results_2005['Home Points'] = None
game_results_2005['Home Team Winner'] = None
game_results_2005['Final Spread'] = None
game_results_2005['Total Points'] = None
for index, row in game_results_2005.iterrows():
    # find the visiting team's points
    visit_pts_ix = team_points.index[(team_points['Team Code']==row['Visit Team Code']) 
                    & (team_points['Game Code']==row['Game Code'])].tolist()
    visit_pts = team_points.loc[visit_pts_ix[0]].at['Points']
    # find the home team's points
    home_pts_ix = team_points.index[(team_points['Team Code']==row['Home Team Code']) 
                    & (team_points['Game Code']==row['Game Code'])].tolist()
    home_pts = team_points.loc[home_pts_ix[0]].at['Points']
    # calculate the spread and total points
    final_spread = abs(home_pts - visit_pts)
    total_pts = home_pts + visit_pts
    
    # save all values to the game_results dataset
    game_results_2005.loc[index, 'Visit Points'] = visit_pts
    game_results_2005.loc[index, 'Home Points'] = home_pts
    game_results_2005.loc[index, 'Final Spread'] = final_spread
    game_results_2005.loc[index, 'Total Points'] = total_pts
    if home_pts > visit_pts:
        game_results_2005.loc[index, 'Home Team Winner'] = 1
    else:
        game_results_2005.loc[index, 'Home Team Winner'] = 0

In [ ]:
game_results_2005

In [ ]:
game_results_2005.Site.unique()

In [ ]:
game_2005